* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -Mac-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

*:active, 
*:focus {
  outline: none;
}

h1 {
  margin: 0 0 10px;
}

h1 {
  padding: 20px 0;
  text-align: center;
}

nav {
  border-bottom: 1px solid #eee;
}

nav button.anchored {
  position: absolute;
  right: 0;
  top: 0;
}

a, button {
  display: inline-block;
  padding: 20px 15px;
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}